.App {
  
}

li {
 list-style: none;
 padding-top: 10px;
 padding-bottom: 10px;
 border-bottom: solid 1px #e1e1e1;
}

span {
  margin-left: 10px;
}

span:first-child {
  margin-left: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.item-list {
  margin-top: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
